// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.v-application{
    font-family: "Oswald", sans-serif !important;
}

.container-desctop{
    width:100%;
    max-width: 1143px !important;
}

.rotate180deg{
    transform:rotateX(180deg);
}











